.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.autoCompleteWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}