.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.barCharContainer {
  width: 150px;
  height: 150px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

.barsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bars {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

.bars div {
  height: 100%;
  width: 15px;
  background-color: yellow;
}

.ticketCount {
  position: absolute;
  top: 50%;
  font-size: 4px;
  transform: rotate(-90deg);
  left: -20px;
}

.ticketHolderName {
  position: absolute;
  bottom: -5%;
  left: 45%;
  font-size: 4px;
}
